<h1 class="page-header">Favorite Phrases</h1>
<p>You can look at all everyone's favorite phrases here!</p>
<table class="table table-striped">
  <tr>
    <th>Username</th>
    <th>Favorite Phrase</th>
  </tr>
  <% @data.each do |user| %>
    <tr>
      <td><%= user[0] %></td>
      <td><%= user[1] %></td>
    </tr>
  <% end %>
</table><br>
<% if logged_in? %>
  <a href="/me" class="btn btn-primary">Update your phrase</a><br>
<% else %>
  <p><a href="/auth/twitter">Login</a> to edit your phrase.</a>
<% end %>
