<h1 class="page-header">Twomnistrate</h1>
<p>This is an awesome sinatra example of using <strong>OmniAuth (Twitter) with Orchestrate</strong>. This app is a community to share favorite phrases. It's all <a href="https://github.com/tejas-manohar/somnistrate">open-source</a>!</p>

<a href="/auth/twitter" class="btn btn-primary">Login with Twitter</a>
<a href="/all" class="btn btn-warning">View favorite phrases</a>
