<h1>Welcome to Omnistrate</h1>
<h4>This is an awesome example of using <strong>OmniAuth with Orchestrate</strong>. This app is a community to share favorite phrases. You authenticate with Twitter. It's all <a href="https://github.com/tejas-manohar/omnistrate">open-source</a>!</h2>
<a href="/auth/twitter">Click here to login with Twitter</a><br>
<a href="/all">You can always click here to view favorite phrases</a>