<p>You are now logged in. You now have the ability to submit phrases.</p>
<a href="/new">Click Here to Submit a Phrase</a><br>
<a href="/all">You can always click here to view favorite phrases</a><br>
<a href="/logout">... and logout here!</a>